/*#F7F0F5
#4C4C6E
#1DB096
#D2DE62
*/

* {
    background-color: #f7f0f5;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.box {
    width: 700px;
    height: 700px;
    float: right;
    overflow-y: scroll;
    border: solid 5px #4c4c6e;
    border-radius: 2em;
}

#box::-webkit-scrollbar {
    width: 20px;
    background: #E4E4EC;
    border-radius: 20px;
}

#box::-webkit-scrollbar-thumb {
  background: #4c4c6e;
    border-radius: 20px;
}

h1 {
    width: 200px;
    height: 200px;
    color: #f7f0f5;
    background-color: #4c4c6e;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;

}

h2 {
    text-align: center;
    color: #4c4c6e;
}

div img {
    width: 75px;
    border: solid 5px white;
    border-radius: 50%;
}

div img:hover {
    opacity: 0.75;
}

div img:active {
    border: solid 5px #B5343B;
}

svg {
    float: left;
    background-color: white;
    width: 800px;
    height: 703px;
    border: double 20px #4c4c6e;
    border-radius: 5%;
}
