/*あか　#B5343B
  ピンク　#EBBAC2
  しろ　#F1F4F5
　むらさき　#5B508E
　みどり　#3C7359
　きみどり　#83C677*/

* {
    width: 700px;
    background-color: #f1f4f5;
    text-align: center;
}

.box {
    height: 500px;
    /* 横幅を200pxに指定 */
    border: 1px solid #000;
    /* わかりやすくボーダーを引く */
    overflow-y: scroll;
    /* 縦方向にスクロール可能にする */
}

h1 {
    text-align: center;
    color: #b5343b;
}

div img {
    width: 75px;
    border: solid 5px white;
    border-radius: 50%;
}

div img:hover {
    opacity: 0.75;
}

svg {
    float: both;
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  
}
