/*あか　#B5343B
  ピンク　#EBBAC2
  しろ　#F1F4F5
　むらさき　#5B508E
　みどり　#3C7359
　きみどり　#83C677*/

* {
  background-color: #f1f4f5;
}

h1 {
  text-align: center;
  color: #b5343b;
}

#kisekae-area {
  border: solid;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

#select-img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  text-align: center;
  position: relative;
  display: flex;
}

.select-img {
  border: solid 10px #f1f4f5;
  text-align: center;
  padding: 10px;
  width: 20%;
  margin-right: 5px;
  cursor: pointer;
  background-color: #f1f4f5;
  border-radius: 50%;
}

.select-img img {
  display: none;
  border-radius: 50%;
}

.select-img img:first-child {
  display: inline-block;
}

.select-img:hover {
  background-color: #ebbac2;
  opacity: 0.6;
}

.select-img.selected {
  background-color: #e6e6e6;
}

#kisekae-area img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#kisekae-area img.base-img {
  position: relative !important;
  top: auto;
  left: auto;
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}
